<h1>What's better?</h1>
<h2><%= @thing_1.name %></h2>
<h4>Category: <%= @thing_1.category %></h4>
<img src="<%= @thing_1.image %>" alt="" />

<h2><%= @thing_2.name %></h2>
<h4>Category:  <%= @thing_2.category %></h4>
<img src="<%= @thing_2.image %>" alt="" />
