<div class="row">
  <div class="col-sm-4">
    <div class="text-center">
      <h1>Previous Pair</h1>
    </div>
    <%= render(WhatsBetter.PairView, "show.html", things: @previous_things, pair_id: @pair_id, domain: @domain) %>
  </div>
  <div class="col-sm-8">
    <%= render "vote.html", conn: @conn,
                            thing_1: @thing_1,
                            thing_2: @thing_2 %>
</div>
