<div class="row main">
  <div class="col-sm-8 vote">
    <%= render "vote.html", conn: @conn,
                            thing_1: @thing_1,
                            thing_2: @thing_2 %>
  </div>
  <div class="col-sm-4">
    <div class="text-center">
      <h1 class="previous-pair">Previous Pair</h1>
    </div>
    <%= render(WhatsBetter.PairView, "show.html", things: @previous_things, pair_id: @pair_id, domain: @domain) %>
  </div>
</div>
